
    <div class="pragmatic_header">
        <!-- margin에서 첫번째는 위아래 간격, 두번째는 양옆간격의미함!-->
        <div>
            <h1 class="pragmatic_logo">Pragmatic</h1>
        </div>
        <div class="pragmatic_header_navbar">
            <a href="{% url 'articleapp:list'%}"class="prgmatic_header_nav">
                <span>Articles</span>
            </a>
            <a href="{% url 'projectapp:list'%}"class="prgmatic_header_nav">
                <span>Projects</span>
            </a>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}"class="prgmatic_header_nav">
                <span>login</span>
            </a>
            <a href="{% url 'accountapp:create'%}"class="prgmatic_header_nav">
                <span>SignUp</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}"class="prgmatic_header_nav">
                <span>MyPage</span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}"class="prgmatic_header_nav">
                <span>logout</span>
            </a>

            <!-- 이거 <a>태그 써놓은 순서도 중요함!!-->

            {% endif %}
        </div>
    </div>